body {
  font-family: "Raleway", sans-serif;
  /*   background-color:blue; */
}
.card {
  overflow: hidden;
}
h4 {
  font-size: 12px;
  margin-bottom: 0;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;
  color: #333;
}

.card-text,
.card-title {
  color: #333;
  text-align: left;
}

.bg-intro {
  background: url("../../public/logo192.png") no-repeat center center;
  background-size: cover;
  height: 150px;
  width: 150px;
  padding: 1px;
  justify-items: center;
}
.commentbox {
  position: sticky;
  margin-top: 2px;
}
.comment-date {
  font-family: "Lora", serif;
  font-weight: 1;
  font-size: 14px;
}
