/* File Upload Modal */
.ant-modal .ant-modal-footer {
  visibility: hidden !important;
}
.ant-modal-content {
  text-align: center !important;
}
.fileUploader {
  width: auto;

  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column;
  background: #fff;
  padding: 15px 0;
  margin: 0px 2px;
  border-radius: 4px;
  border: 2px dotted skyblue;
  cursor: pointer;
}
.uploadButton {
  margin-top: 10px !important;
  padding: 10px 20px !important;
  background: skyblue !important;
  cursor: pointer;
  color: #fff;
  font-size: 15px;
  font-weight: 600;
}
