body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.ant-input-affix-wrapper {
  padding: 7px 13px !important;

  font-size: 15px !important;

  border-radius: 0px !important;
}
/* .ant-btn {
  border-radius: 0px !important;
  height: 38px !important;
} */
.alertbox {
  width: 20px !important;
}
.ant-spin-dot-item {
  background-color: #ffff !important; /* Change this to your desired color */
}
