.fileuploaderIco {
  width: 30%;
}
.container {
  width: 100%;
  height: 100%;
  margin: 0px 0px;
  padding: 0px 0px;
  display: flex;
  justify-content: space-around;
}
.MainContainer {
  display: flex;
  height: 82vh;
  justify-content: space-between;
}

.UploadfileButton {
  position: absolute;
  margin: 0px 10px;
  bottom: 0%;

  font-size: 20px;
  font-weight: 500;
  color: #fff;
  background: skyblue;
}
.videoList-wrapper {
  width: 50%;

  align-items: center;
  position: relative;
}
.ant-layout-header {
  height: 60px;
  background: #000 !important;
}
